Imaging/UltrasoundImaging.Standalone/bin/
Imaging/UltrasoundImaging.Standalone/obj/
Imaging/UltrasoundImaging.Renderer/bin/
Imaging/UltrasoundImaging.Renderer/obj/
Viewer/Application/obj/
Viewer/Application/bin/
Imaging/Domain/src/obj/
Imaging/Domain/src/bin/
Imaging/Domain/tests/obj/
Imaging/Domain/tests/bin/
Imaging/Infrastrucutre/CompositionRoot/bin/
Imaging/Infrastrucutre/CompositionRoot/obj/
Viewer/Infrastructure/ImageSource/bin/
Viewer/Infrastructure/ImageSource/obj/
Imaging/Infrastrucutre/Beamformer/bin/
Imaging/Infrastrucutre/Beamformer/obj/
Imaging/Infrastrucutre/Renderer/tests/bin/
Imaging/Infrastrucutre/Renderer/tests/obj/
Imaging/Infrastrucutre/Renderer/src/bin/
Imaging/Infrastrucutre/Renderer/src/obj/
Imaging/Infrastrucutre/Web/bin/
Imaging/Infrastrucutre/Web/obj/
Imaging/Infrastrucutre/Common/bin/
Imaging/Infrastrucutre/Common/obj/
Imaging/Infrastrucutre/Stream/src/bin/
Imaging/Infrastrucutre/Stream/src/obj/
Imaging/Infrastrucutre/Stream/tests/bin/
Imaging/Infrastrucutre/Stream/tests/obj/
Viewer/Infrastructure/Dicom/src/bin/
Viewer/Infrastructure/Dicom/src/obj/
Viewer/Infrastructure/Dicom/tests/bin/
Viewer/Infrastructure/Dicom/tests/obj/
UI/WpfUI/bin/
UI/WpfUI/obj/
.vs
*.cache

Imaging/UltrasoundImaging.Renderer/SharpGen.Runtime.dll
Imaging/UltrasoundImaging.Renderer/Diligent-GraphicsEngine.NET.dll


