Imaging/UltrasoundImaging.Standalone/bin/
Imaging/UltrasoundImaging.Standalone/obj/
Imaging/UltrasoundImaging.Renderer/bin/
Imaging/UltrasoundImaging.Renderer/obj/
Imaging/Application/obj/
Imaging/Application/bin/
Imaging/Domain/src/obj/
Imaging/Domain/src/bin/
Imaging/Domain/tests/obj/
Imaging/Domain/tests/bin/
Imaging/Infrastrucutre/CompositionRoot/bin/
Imaging/Infrastrucutre/CompositionRoot/obj/
Imaging/Infrastrucutre/ImageSource/bin/
Imaging/Infrastrucutre/ImageSource/obj/
Imaging/Infrastrucutre/Beamformer/bin/
Imaging/Infrastrucutre/Beamformer/obj/
Imaging/Infrastrucutre/Renderer/tests/bin/
Imaging/Infrastrucutre/Renderer/tests/obj/
Imaging/Infrastrucutre/Renderer/src/bin/
Imaging/Infrastrucutre/Renderer/src/obj/
Imaging/Infrastrucutre/Web/bin/
Imaging/Infrastrucutre/Web/obj/
Imaging/Infrastrucutre/Common/bin/
Imaging/Infrastrucutre/Common/obj/
Imaging/Infrastrucutre/Stream/src/bin/
Imaging/Infrastrucutre/Stream/src/obj/
Imaging/Infrastrucutre/Stream/tests/bin/
Imaging/Infrastrucutre/Stream/tests/obj/
Imaging/Infrastrucutre/Dicom/src/bin/
Imaging/Infrastrucutre/Dicom/src/obj/
Imaging/Infrastrucutre/Dicom/tests/bin/
Imaging/Infrastrucutre/Dicom/tests/obj/
WpfUI/bin/
WpfUI/obj/
.vs
*.cache

Imaging/UltrasoundImaging.Renderer/SharpGen.Runtime.dll
Imaging/UltrasoundImaging.Renderer/Diligent-GraphicsEngine.NET.dll


